<article id="post-225" class="post-225 page type-page status-publish hentry clearfix">
	<header class="entry-header">
		<h1 class="entry-title">Dịch vụ</h1>	</header><!-- .entry-header -->

	<div class="entry-content">
		<div id="dslc-theme-content"><div id="dslc-theme-content-inner"><p>Media Agency được biết tới là một đại lý có uy tín, chất lượng dịch vụ tốt và là đối tác thường xuyên của các Agency lớn đặc biệt là các dịch vụ Social Seeding, Booking KOLs, Content Management, Crisis Management, Facebook Ads, Google Ad, CRM, SEO…. Bên cạnh đó, Media Agency cũng được biết đến là đơn vị cung cấp dịch vụ booking cạnh tranh nhất &amp; toàn diện nhất trên các kênh báo mạng, báo in, truyền thanh, truyền hình tại Việt Nam. Ngoài ra Media Agency còn cung cấp các dịch vụ Web Design, Web Mobile, Mobile App đa nền tảng.</p>
</div></div>			</div><!-- .entry-content -->

	<footer class="entry-footer">
			</footer><!-- .entry-footer -->
</article>