
/* .main{
    border: 1px solid gainsboro;
    width: 304px;
    border-radius: 1px;
} */
/* aside{
    text-align: center;
    width: 302px;
  

 

    
    
} */


/* aside ul{
    list-style: none;
    padding: 0;
    margin: 0;
} */

/* .list-group-flush>.list-group-item{
    text-align: left;
    
}

.list-group li a{
    text-decoration: none;
    color: black;
    
}

.list-group li:hover{
    background: rgb(210, 213, 210);
}
aside ul li{
    border-radius: 5px;
    margin-top: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,104,121,1) 100%, rgba(0,59,255,1) 100%);
    
}
aside ul li:hover{
    background-color: rgb(168, 55, 55);
   
    
}
aside ul li a{
    color: white;
    text-decoration: none;
   
}
 */
