<app-header></app-header>

<div class="container-fluid mb-5">
  <div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
      <app-aside></app-aside>
    </div>
    <div class="col-lg-9">
      <app-nav></app-nav>
      <router-outlet></router-outlet>

    </div>


  </div>
</div>
<div class="container-fluid pt-5">
  <app-morepd></app-morepd>
</div>

<app-footer (callToParent)="getData($event)"></app-footer>



<!-- <app-chat></app-chat> -->
<!-- <app-my-counter></app-my-counter> -->