/* header {

 
    height: 100px;
    margin-top: 30px;
    width: 100%;


} */
/* 
.row{
    width: 100%;

 
}
.row .imgLogo{
    width:25%;
}
.search{
    width: 75%;
    display: flex;
    

}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 75%;
    margin-left: 30px;
}

.lg{
    width: 25%;

}
a{
    margin-left: 180px;
} */

.search-result{
    position: absolute;
    max-width: 642px;
    width: 65%;
    margin: 20px auto 0 auto;
    /* hr{

        border:  none;
        height: 1px;
        background-color: lightblue;
    } */
    p{

        margin: 10px 0;

    }
}