<!-- <div class="chatonline">
    <h5>Chat Box</h5>
    <div class="content"></div>
    <div class="send">
        <input type="text" #msg>
        <button type="button" class="btn btn-success" (click)="sendMessage(msg)">
            Gửi</button>
    </div>
</div>
<style>
    .chatonline {
        background: rgb(75, 189, 180);
        border: 2px solid rgb(242, 238, 238);
        border-radius: 20px;
        position: fixed;
        bottom: 5%;
        right: 5%;
        z-index: 9999;
        padding: 10px;
    }

    .content {
        border-radius: 10px;
        height: 200px;
        width: 100%;
        background: white;
        margin: auto;
        margin-bottom: 10px;
    }

    .send {
        display: flex;

    }

    .send input {
        border-radius: 20px;
        margin-right: 5px;
        border: 1px solid white;
    }

    .btn {
        border-radius: 10px;
    }
</style> -->

