





<div #chatbox class="chatbox">
    <div (click)="show()" class="iconchat">
        <i class="fa fa-comment" aria-hidden="true"></i>
    </div>
    <div  class="textchat">
        <h3>Nhắn với Admin</h3>
        <h2>Xin chào !</h2>
        


    </div>
    <div (click)="closeBox()" class="cancelchat">
        <i class="fa fa-times" aria-hidden="true"></i>

    </div>
</div>

<div  #chatpopup class="popupchat">
    <div class="header">
        <div class="avatar_chat">
            <img src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745" alt="">
        </div>
        <div class="name_chat">
        <h3>Chat với admin</h3>
        <h3 style="font-size: 10px; color: gray;">Luôn hỗ trợ hết mình</h3>


        </div>
        <div (click)="close()"  class="close_chat">
            <i class="fa fa-minus" aria-hidden="true"></i>
        </div>

    </div>
    <div class="middle">
        <div class="client">
            <div class="blogchat">
                <h3>Chào bạn</h3>
          
            </div>
            <div class="blogchat_2">
                <h3>Rất vui nếu có thể giúp bạn!</h3>
          
            </div>

        </div>
        <div class="server">

        </div>
       
    </div>

    <div class="footer">
        <textarea placeholder="Gửi tin nhắn" name="" id=""  rows="10"></textarea>
        <div class="send">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </div>

    </div>
</div>