.chatbot{
    height: 60px;
    width: 60px;
    background-color: rgb(39, 131, 167);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 150px;
    right: 20px;
    animation-name: example;
    animation-duration: 4s;
 
}
.chatbot:hover{
    font-size: 30px;
    transition: 0.2s;
}
span{
    height: 60px;
    width: 60px;
    font-size: 20px;
    font-style: italic;
    color: rgb(11, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 150px;
    right: 80px;
}
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
